
<section id="seccion">
    <app-filtros></app-filtros>
    <div class="cards">
        <div class="tarjetas1">
            <img src="../../assets/Imagenes/model3.png" alt="" width="300px" >
            <p>Model 3</p>
        </div>
        <div class="tarjetas2">
            <img src="../../assets/Imagenes/models.png" alt="" width="300px">
            <p>Model S</p>
        </div>
        <div class="tarjetas3">
            <img src="../../assets/Imagenes/modelx.png" alt="" width="300px">
            <p>Model X</p>
        </div>
        <div class="tarjetas4">
            <img src="../../assets/Imagenes/modely.png" alt="" width="300px">
            <p>Model Y</p>
        </div>
        <div class="tarjetas5">
            <img src="../../assets/Imagenes/accesories.png" alt="" width="300px">
            <p>Accesorios</p>
        </div>
        <div class="tarjetas6">
            <img src="../../assets/Imagenes/panel.png" alt="" width="300px">
            <p>Paneles solares</p>
        </div>
    </div>
</section>