
<div class="registro">
    <div class="banner">
        <h1>Registrate y se parte <br> de la nueva tecnologia
        </h1>
    </div>
    <form #formSend="ngForm" (ngSubmit)="Onsubmit(formSend)">
        <h3>Registrarse</h3>
        <input type="text"  placeholder="Nombre" #usuario="ngModel" [(ngModel)]="login.usuario" name="usuario" class="form-control" minlength="3"/>
        <input type="password" placeholder="Contraseña" #contrasena="ngModel" [(ngModel)]="login.contrasena" name="contrasena" class="form-control" minlength="3">
        <button type="submit" (click)="registroExitoso($event)" [disabled]="habilitarBoton">Enviar</button>
    </form>
</div>
